@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  border-width: 2px;
  border-color: #09ba96;
  border-radius: 12px;

  padding: 12px;
  margin: 12px;

  background-color: rgba(12, 161, 177, 0.1);
  color: #338070;

  font-size: 16px;
  font-weight: 500;
  width: 100%;
  outline: none;
}

.table-header {
  color: #338070;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.table-content {
  background-color: #338070;

  font-size: 16px;
  font-weight: 500;
  color: white;

  padding: 7px;
  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  overflow:hidden
}

.theme-grad {
  background-image: linear-gradient(#09ba96, #0ca0b1);
}

input:focus {
  border-width: 5px;
  transition: all;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.theme-text {
  color: #338070;
}

.theme-bg {
  background-color: #09ba96;
}

button {
  background-image: linear-gradient(#09ba96, #0ca0b1);
  width: 50%;
  font-size: 16px;
  color: white;

  padding: 12px;
  margin: 12px 0px;

  border-radius: 12px;
  font-weight: 500;
  overflow: hidden;
}

label {
  font-size: 24px;
  margin-left: 12px;
  color: #338070;
  font-weight: bold;
}
