@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply text-xl font-semibold
  text-teal-700
  m-3;
}

input,
select {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(15, 118, 110, 0.3);

  @apply p-3 m-3
  text-xl font-medium 
  text-teal-700 bg-teal-50
  rounded-xl focus:outline-none
  transition-all duration-300 ease-in-out
  focus:border-teal-700;
}

button {
  background-image: linear-gradient(#09ba96, #0ca0b1);

  @apply text-white
  text-xl font-semibold
  rounded-xl
  overflow-hidden
  m-3 px-7 py-3;
}

.table-header {
  color: rgb(15 118 110);
  font-size: 15x;
  font-weight: 600;
  text-align: center;

  @apply text-teal-100;
}

.table-content {
  background-color: rgb(15 118 110);

  font-size: 12px;
  font-weight: 500;


  border-radius: 7px;
  overflow: hidden;

  @apply text-white text-xl 
  flex justify-center items-center
  p-3 m-1 
}

.theme-grad {
  background-image: linear-gradient(#09ba96, #0ca0b1);
}

.theme-text {
  color: rgb(15 118 110);
}

.theme-bg {
  background-color: #09ba96;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
