@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply text-lg font-semibold
  text-teal-700
  m-1;
}

input,
select {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(15, 118, 110, 0.3);

  @apply p-3 m-1
  text-lg font-medium 
  text-teal-700 bg-teal-50
  rounded-lg focus:outline-none
  transition-all duration-300 ease-in-out
  focus:border-teal-700;
}

button {
  background-image: linear-gradient(#09ba96, #0ca0b1);

  @apply text-white
  text-lg font-semibold
  rounded-lg
  overflow-hidden
  m-1 px-7 py-3
  transition-all duration-300 ease-in-out
  hover:bg-teal-500
}

.table-header, th {
  @apply text-teal-700 text-xl font-bold text-center
  border-2 border-teal-700 bg-green-100
  p-3
}

.table-content {
  @apply text-teal-700 bg-green-50 font-medium
  border-b-2 border-l-2 border-teal-700
  flex justify-center items-center
  rounded
  p-1
}

.theme-grad {
  background-image: linear-gradient(#09ba96, #0ca0b1);
}

.theme-text {
  color: rgb(15 118 110);
}

.theme-bg {
  background-color: #09ba96;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
